<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
    <div class="content-header row"></div>
    <div class="content-body">
      <div class="auth-wrapper auth-v1 px-2">
        <div class="auth-inner py-2">
          <div class="card mb-0">
            <div class="card-body">
              <h4 class="card-title mb-1 pt-1">Bienvenido a KOLEAPP! 👋</h4>

              <form class="auth-login-form mt-2" action="index.html" method="POST">
                <div class="form-group">
                  <label for="login-email" class="form-label">Correo</label>
                  <input type="text" class="form-control" id="login-email" name="login-email"
                    placeholder="john@example.com" aria-describedby="login-email" tabindex="1" autofocus />
                </div>

                <div class="form-group">
                  <div class="d-flex justify-content-between">
                    <label for="login-password">Contraseña</label>
                    <a href="page-auth-forgot-password-v1.html">
                      <small>¿Olvidaste tu contraseña?</small>
                    </a>
                  </div>
                  <div class="input-group input-group-merge form-password-toggle">
                    <input type="password" class="form-control form-control-merge" id="login-password"
                      name="login-password" tabindex="2"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="login-password" />
                    <div class="input-group-append">
                      <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary btn-block" tabindex="4">
                  Iniciar sesión
                </button>
              </form>

              <p class="text-center mt-2">
                <span>¿No tienes una cuenta registrada? </span>
                <a href="page-auth-register-v1.html">
                  <span>Regístrate aquí</span>
                </a>
              </p>

              <div class="divider my-2">
                <div class="divider-text">o</div>
              </div>

              <div class="auth-footer-btn d-flex justify-content-center">
                <a (click)="signInWithFB()" class="btn btn-facebook">
                  <i data-feather="facebook"></i> Facebook
                </a>
                <a (click)="signInWithGoogle()" class="btn btn-google">
                  <i data-feather="mail"></i> Google
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>