.flex-content-justify-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#login {
    width: 100%;
    background: url('/assets/images/backgrounds/phone.jpg') no-repeat;
    background-size: cover;
}
#login #login-form-wrapper {
    flex: 1 0 auto;
    padding: 32px;
}

#login #login-form-wrapper #login-form {
    background-color: #FFFFFF;
    width: 384px;
    max-width: 384px;
    padding: 32px;
    text-align: center;
}

.logo {
    width: 128px;
    margin: 32px auto;
}

.title {
    font-size: 20px;
    margin: 16px 0 32px 0;
}

.form {
    width: 100%;
    text-align: left;
}

mat-form-field {
    width: 100%;
}

mat-checkbox {
    margin: 0;
}

.remember-forgot-password {
    font-size: 13px;
    margin-top: 8px;
}
.remember-me {
    margin-bottom: 16px
}

.forgot-password {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 16px
}

.submit-button {
    width: 220px;
    margin: 16px auto;
    display: block;
}

.register {
    margin: 32px auto 24px auto;
    font-weight: 600;
}

.register .text {
    margin-right: 8px;
}

.separator {
    font-size: 15px;
    font-weight: 600;
    margin: 24px auto;
    position: relative;
    overflow: hidden;
    width: 100px;
}
.separator .text {
    display: inline-flex;
    position: relative;
    padding: 0 8px;
    z-index: 9999;
}

